#calendar .calendar-view{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);

    border-left: 1px solid black;
    border-top: 1px solid black;
    width: 900px;
    /* height: 900px; */
}

.calendar-day {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}
.calendar-day.calendar-day--weekend {
    color: rgb(133, 133, 133)
}
.calendar-day:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(109, 109, 249);
}

/* Calendar info */
.calendar-info,
.calendar-day__month {
    display: inline-block;
    padding: 5px 10px;
}
/* Calendar switch */
.calendar-switch,
.calendar-switch__next,
.calendar-switch__previous {
    display: inline-block;
    padding: 5px 10px;
}
.calendar-switch__next:hover,
.calendar-switch__previous:hover {
    cursor: pointer;
}